/*시그니처 색상*/
.redWine {
    color: #8a2b3e;
}

.redWine-background {
    background-color: #8a2b3e;
}

.gray {
    color: gray;
}

/*시그니처 버튼*/
.btn-signature {
    background-color: #8a2b3e;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 20px;
    min-height: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-signature:hover {
    background-color: #771f31;
    color: white;
}

/*시그니처 인풋*/
.form-control {
    border: 1px solid #8a2b3e !important; /* 테두리 색상 변경 */
    outline: none !important; /* 기본 아웃라인 제거 */
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 43, 62, 0.25) !important; /* #8a2b3e 색상의 네온사인 효과 */
}

/*링크 밑줄 제거*/
.no-underline {
    text-decoration: none;
}

/*더잠실체*/
@font-face {
    font-family: 'TheJamsil100';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'TheJamsil300';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'TheJamsil400';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'TheJamsil700';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.ttf') format("truetype");
    font-display: swap;
}

.TheJamsil100 {
    font-family: 'TheJamsil100', sans-serif;
}

.TheJamsil300 {
    font-family: 'TheJamsil300', sans-serif;
}

.TheJamsil400 {
    font-family: 'TheJamsil400', sans-serif;
}

.TheJamsil700 {
    font-family: 'TheJamsil700', sans-serif;
}

* {
    font-family: 'TheJamsil300', sans-serif;
}